<!DOCTYPE html>
<html ng-app = "myApp">

<head>
    <meta charset="UTF-8">
    <title>meet our team</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="./css/team.css">
    <link href="./css/preteam.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/star.css">
    <link href="./css/overlay.css" rel="stylesheet">

    <!--ico-->
    <link rel="icon" href=".\images\logo (1).ico" type="image/x-icon">
    <link href="./css/style.css" rel="stylesheet" />

    <script src="./js/pre.js"></script>
    <script src="./js/overlay.js"></script>


</head>

<body onload="myFunction()">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>

            </div>
        </div>

    </div>

    <div style="display:none;" id="myDiv" class="animate-bottom">

        <a href="post.html">
            <img src="./image/ab.png" align="left">
        </a>
        <a href="all.html">
        <img src="https://www.shareicon.net/data/2015/06/22/58098_notepad_282x282.png" align="right" width="75px" height="70px">
    </a>

        <div class="container">
            <div class="row">
                <div class="heading-title text-center">
                    <h3 class="text-uppercase">Behind the scene!</h3>
                    <p class="p-top-30 half-txt">Final Year students of Vidya Knowledge Park, Computer Science Branch.</p>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="./image/IMG_20170122_160258.jpg" alt="team member" class="img-responsive">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Hi There !</h4>
                                <p>I love to introduce myself as a hardcore Web Designer.</p>
                            </div>
                            <div class="s-link">
                                <a href="https://www.facebook.com/juhishw"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Juhi Shaw</h5>
                        <span>Vidya Knowledge Park</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/12072796_885585074821976_4807328668186979522_n.jpg?oh=548d4e3da86dee9c8fc321eb61ec2a6a&oe=59F2A7AA" alt="team member" class="img-responsive">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Hello World</h4>
                                <p>I love to introduce myself as a hardcore Web Designer.</p>
                            </div>
                            <div class="s-link">
                                <a href="https://www.facebook.com/sahil.kabir.96"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Sahil Kabir</h5>
                        <span>Vidya Knowledge Park</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/12341316_873304782768429_7276740265042274875_n.jpg?oh=9fdc2676fb19cce6e6914786a3dfe33c&oe=59F3EC78" alt="team member" class="img-responsive">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>I love to design</h4>
                                <p>I love to introduce myself as a hardcore Web Designer.</p>
                            </div>
                            <div class="s-link">
                                <a href="https://www.facebook.com/kshitiz.tyagi.3"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Kshitiz Tyagi</h5>
                        <span>Vidya Knowledge Park</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/196903_176262629092456_503741_n.jpg?oh=7dec33193c92d280b2524f791a4e02d0&oe=59F7800C" alt="team member" class="img-responsive">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>I love to design</h4>
                                <p>I love to introduce myself as a hardcore Web Designer.</p>
                            </div>
                            <div class="s-link">
                                <a href="https://www.facebook.com/sajal.gupta.714"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Sajal Gupta</h5>
                        <span>Vidya Knowledge Park</span>
                    </div>
                </div>

            </div>

        </div>
        <br /><br />
        <hr />
<div ng-controller = "rating">
        <div id="contact" class="container">
            <h3 class="text-center">Contact</h3>
            <p class="text-center"><em>Suggestions/Complains</em></p>

            <div class="row">
               <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div id="map" style="height: 285px; width:100%;"></div>

                </div>
                 <div class="col-md-3">
                   </div>
<!--
                <div class="col-md-8">
                    <div class="row">
                        <br> <br> <br>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <textarea placeholder = "Enter your comment!" rows = "4" cols = "50"></textarea>
                        </div>
                    </div>

                    <div class="Feedback">
                        <div class="Feedback-ratingGroup">
                            <input class="Feedback-radio star-5" id="delivery_rating_5" name="delivery[rating]" type="radio" value="1" ng-model="star">
                            <label class="Feedback-label" for="delivery_rating_5">
                <div class="Feedback-starImage" title="Rate order 1/5"></div>
            </label>
                            <input class="Feedback-radio star-4" id="delivery_rating_4" name="delivery[rating]" type="radio" value="2" ng-model="star">
                            <label class="Feedback-label" for="delivery_rating_4">
                <div class="Feedback-starImage" title="Rate order 2/5"></div>
            </label>
                            <input class="Feedback-radio star-3" id="delivery_rating_3" name="delivery[rating]" type="radio" value="3" ng-model="star">
                            <label class="Feedback-label" for="delivery_rating_3">
                <div class="Feedback-starImage" title="Rate order 3/5"></div>
            </label>
                            <input checked="checked" class="Feedback-radio star-2" id="delivery_rating_2" name="delivery[rating]" type="radio" value="4" ng-model="star">
                            <label class="Feedback-label" for="delivery_rating_2">
                <div class="Feedback-starImage" title="Rate order 4/5"></div>
            </label>
                            <input class="Feedback-radio star-1" id="delivery_rating_1" name="delivery[rating]" type="radio" value="5" ng-model="star">
                            <label class="Feedback-label" for="delivery_rating_1">
                <div class="Feedback-starImage" title="Rate order 5/5"></div>
            </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <center>
                                <button class="wallButton" type="submit" onclick="on()">Send</button>
                            </center>
                            <div id="overlay" onclick="off()">
                                <div id="text">Thank You!</div>
                            </div>
                        </div>
                    </div>
                </div>
-->
            </div>
            <br>
</div>
        </div>
        <footer>
            <div class="verybottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aligncenter">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!--map-->
    <script>
        var map;

        function initialize() {
            var fenway = {
                lat: 28.97347419999999,
                lng: 77.62568950000002
            };
            map = new google.maps.Map(document.getElementById('map'), {
                center: fenway,
                zoom: 17
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw0nyRMdbFrA6Ebxj9NyLanP3_3mrvDHc&callback=initialize">


    </script>
</body>

</html>
